.w-order {
    width: 270px;
}
.w-all-order {
    width: 177px;
}
.bg-none {
    background-color: transparent !important;
}
.border-full {
    border-left: 0px;
}
.border-r-no {
    border-right: none;
}
.fs {
    font-size: 15px !important;
}
.fs:hover {
}
.p-17 {
    padding: 0px 17px;
}
.cl-f2 {
    color: rgb(153, 153, 153);
}
.btn-print {
    background-color: #0068a5;
    height: 33px;

    text-transform: uppercase;
    width: 155px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.bg-i-excel {
    background-color: rgb(31, 96, 51);
}
.bg-e-excel {
    background-color: rgb(0, 75, 71);
}
/* // billmange  */
.chevon-left {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    height: 8px;
    width: 8px;
    border-color: rgba(0, 0, 0, 0.38);
    transform: rotate(-135deg);
}
.chevon-right {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    height: 8px;
    width: 8px;
    border-color: rgba(0, 0, 0, 0.38);
    transform: rotate(45deg);
}
.w-150 {
    /* width: 150px; */
    height: 48px;
}

.ic-square[_ngcontent-nrn-c25] {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #006761;
}
.no-hover:not(:hover) {
    color: #fff;
}
.btn-cus {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-cus:focus {
    outline: 0;
}
.border-red-bot {
    border-bottom: 2px solid #e03 !important;
}
.border-radius-none {
    /* border: none; */
    border-radius: 0 !important;
    border: none;
}
.border-none {
    border: none;
}
ul {
    list-style-type: none;
}
.w-238 {
    width: 240px;
    height: 100px;
}
.bg-f8 {
    background-color: #f8f8fa;
}
.color-red {
    color: red;
}
.total-order:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 1px;
    background-color: #ced4da;
    height: 40px;
    top: calc(50% - 20px);
    right: 0;
}

.active_order::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #e03;
}

.active_order_btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 44px[];
    left: 0;
    right: 0;
    height: 4px;
    background-color: #e03;
}

.active_order.active::before {
    display: block; /* Hiển thị khi được kích hoạt */
}
.table_tbody_order td {
    font-size: 13px;
    padding: 10px 4px;
    word-wrap: break-word;
    padding-top: 2%;
}
.green-text-order {
    font-weight: 700;
    color: rgb(0, 122, 110) !important;
}
.purple-text-order {
    cursor: pointer;
    color: rgb(118, 28, 25) !important;
    text-decoration: underline;
}
.vtp-label-status {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 124, 63);
    border-radius: 8px;
    font-weight: 700 !important;
    padding: 2px 6px !important;
    font-size: 10px !important;
}
.bbt-table-tbody {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.item-main-cont span,
.item-main-cont .btn-cus {
    white-space: nowrap;
}
.table_th_order th {
    color: #4a4949 !important;
    white-space: nowrap;
    font-size: 12px !important;
    font-weight: 600;
    text-transform: uppercase;
}
.w-3 {
    width: 3%;
}
.bbt-table {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table_th_order th {
    padding: 14px 0px;
}
