body {
    font-size: 14px !important;
    font-family: arial, sans-serif;
    background: #f6fafc !important;
}
#header {
    min-height: 64px;
    min-width: 320px;
    /* padding: 0 27px; */
}
.nav-item,
.nav-item .sub-menu a {
    /* width: 231px;
    height: 64px; */
    border-top: 1px solid #c2c2c2 !important;
    width: 100%;
    /* max-width: 240px; */
}
.sub-menu {
    background: #f2f2f2;
}
.nav-item a {
    border-left: 2px solid #c2c2c2;
    border-right: 2px solid #c2c2c2;
    padding: 20px 10px;
    min-height: 60px;
    color: #44494d;
}
.h-auto {
    height: auto;
}
.bg-sidebar {
    background-color: #c8c8c8;
}
/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 28%;
    right: 15px;
     -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
} */
.dropdown-toggle {
    position: relative; /* Đảm bảo phần tử chứa biểu tượng là relative */
}

.dropdown-toggle::after {
    content: '';
    position: absolute; /* Đảm bảo biểu tượng là absolute */
    top: 44%;
    right: 15px;
}
/* .dropdown-toggle::after {
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: '';
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
} */
label {
    white-space: nowrap !important;
}
.nav-item span {
    font-size: 14px;
}
.nav-item:active {
    background-color: transparent; /*  Màu nền khi click (giống với màu nền mặc định) */
}
.option:hover {
    background-color: #ee0033 !important;
    color: rgb(255, 255, 255) !important;
}
#ul-sidebar .nav-item a:hover {
    background-color: #c2c2c2;
}
.logo-nav-item img {
    width: 20px;
    margin-left: 5px;
}
.red-stroke {
    stroke: red;
}
.bg-sidebar {
    background-color: #c8c8c8;
}
.active {
    border-right: 3px solid #ee0033 !important;
    border-left: 3px solid #ee0033 !important;
    border-radius: 0 !important;
}
#ul-sidebar .nav-item.active {
    color: #ee0033 !important;
    border-right: 2px solid #ee0033 !important;
    border-left: 2px solid #ee0033 !important;
    border-radius: 0 !important;
}
#ul-sidebar .nav-item {
    background: rgb(251, 251, 251);
}

.logo-viet {
    display: flex;
    /* Can giữa theo chiều ngang */
    align-items: center; /* Can giữa theo chiều dọc */
    height: 64px; /* Đặt chiều cao của khung chứa hình ảnh */
    padding-left: 9px;
}
.red-image {
    filter: hue-rotate(0deg); /* Màu đỏ */
}

.active .logo-nav-item img {
    filter: hue-rotate(120deg);
    color: red;
}
/* .red-img{
    color: red;
    content: url(public/img/pie-chart-gray.svg);

} */
::placeholder {
    color: #999999 !important;
    opacity: 1; /* Firefox */
    font-size: 14px;
}
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.form-search {
    box-shadow: none;
    border: none;
    color: rgb(246, 248, 250);
    margin-left: 0;
    background-color: rgb(246, 248, 250) !important;
    padding: 0 12px 0 45px;
    font-size: 14px;
    height: 45px;
}

.form-control:focus {
    box-shadow: 0 0 0 2px #f2f2f2;
    border-color: #44494d !important;
}
.input-group i.fa-search {
    position: absolute !important;
    top: 50%;
    color: rgb(170, 170, 170);
    transform: translateY(-50%);
    left: 10px;
    z-index: 100;
    font-size: 20px;
}
.nowrap {
    white-space: nowrap;
}
/* icon  */
.ico-notify {
    width: 30px;
    height: 30px;
}

.num-not {
    position: absolute;
    width: 63%;
    top: 20%;
    left: 52%;
    height: 20px;
    font-family: 'MyVariableFont', sans-serif;
    background-color: #ee0033;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 19px;
}
#ul-info li {
    margin: 0px 13px;
}
.my-10 {
    margin: 10px 0px;
    margin-left: 5%;
}
.pr-00 {
    padding-right: 1px !important;
}
/* ------------------------------------- Content ----------------  */
.bg-lightt {
    background-color: #f6fafc;
}
.content > * {
    margin-left: 2%;
}
.fs-33 {
    font-size: 14px;
}
.header-main-content > span {
    padding: 3px 0px 0px 6px;
}
.header-main-content > a {
    font-size: 14px;
}
.list-label label {
    white-space: nowrap;
}
/* //toolip  -----------*/
a:hover {
    text-decoration: none;
}

header,
.demo,
.demo p {
    margin: 4em 0;
    text-align: center;
}

[data-c-tooltip] {
    /* position: relative; */
    cursor: pointer;
}

/* Base styles for the entire c-tooltip */
[data-c-tooltip]:before,
[data-c-tooltip]:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
}

/* Show the entire c-tooltip on hover and focus */
[data-c-tooltip]:hover:before,
[data-c-tooltip]:hover:after,
[data-c-tooltip]:focus:before,
[data-c-tooltip]:focus:after {
    visibility: visible;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/* Base styles for the c-tooltip's directional arrow */
[data-c-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: '';
}

/* Base styles for the c-tooltip's content area */
[data-c-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 100px;
    /* white-space: nowrap; */
    background-color: #5a6268;
    color: #fff;
    content: attr(data-c-tooltip);
    font-size: 14px;
    line-height: 1.2;
}

/* Horizontally align top/bottom c-tooltips */
[data-c-tooltip]:after {
    margin-left: -50px;
}

/* Bottom */
[tooltip-position='bottom']:before,
[tooltip-position='bottom']:after {
    top: 100%;
    bottom: auto;
    left: 50%;
}

[tooltip-position='bottom']:hover:before,
[tooltip-position='bottom']:hover:after,
[tooltip-position='bottom']:focus:before,
[tooltip-position='bottom']:focus:after {
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    transform: translateY(12px);
}

/* Right */
